.about-me-container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 10rem 10rem 0 10rem;
}

.about-me-container h1 {
  margin-left: 4rem;
  font-weight: 400;
  font-size: 5rem;
  color: #fff;
}

#about-me-text {
  margin-top: 4rem;
  margin-left: 4rem;
  line-height: 3rem;
  font-size: 2.3rem;
  font-weight: 300;
  color: #fff;
}

.revealed {
  font-weight: 400 !important;
  font-size: 5rem !important;
  color: #fff !important;
  margin-left: 3rem;
}

.shiny-text-spec {
  margin-left: 4rem;
  line-height: 3rem;
  font-size: 2.3rem;
  font-weight: 300;
  color: #fff;
}
