.projects-desc-cont-parent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-desc-cont {
  margin: 14rem 0 0 0;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-desc-cont span:not([class]) {
  font-size: 3rem;
  font-weight: 700;
  color: #fe7743;
}

.projects-desc-cont p {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.gradient-divider {
  width: 50vw;
  height: 2px;
  margin: 9rem auto 5rem auto;
  background: linear-gradient(to right, #ccc, #999, #ccc);
  border-radius: 4px;
}

.projects-title {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: -4rem;
  color: #fff;
  font-family: "Arial", sans-serif;
}

.projects-tech {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 40vw;
}

.projects-tech img {
  width: 2vw;
}

.projects-img {
  border-radius: 50%;
}

.projects-tech-text {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 1rem;
}

.tech {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  color: #ffd700;
}

.tech-children-cont-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.tech-children-cont-child {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.projects-header-text {
  text-decoration: underline;
}
