@media (max-width: 620px) {
  .chip-cont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .chip-items {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .chip-items .MuiChip-root {
    width: 150px !important;
    font-size: 25px !important;
    height: 60px !important;
  }

  .about-me-container {
    flex-direction: column;
    align-items: center;
    margin: 2rem 5rem 0 5rem;
    gap: 2rem;
  }

  .about-me-left-cont {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-me-right-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-me-left-cont .MuiAvatar-root {
    width: 150px !important;
    height: 150px !important;
  }

  .revealed {
    margin-left: 0;
    font-size: 3rem !important;
    text-align: center !important;
  }

  .revealed:nth-of-type(2) {
    justify-content: center;
  }

  .shiny-text-spec {
    margin-left: 0;
    margin-top: 2rem;
    font-size: 2.2rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .tech-h1 {
    margin: 5rem 0 2rem 0;
    font-size: 3.5rem;
    text-align: center;
  }

  .tech-ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 1rem;
    width: auto;
  }

  .tech-li-container {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    height: 6rem !important;
    margin: 0.5rem 0 !important;
    background-color: #141414;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech-li-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech-img {
    width: 4.5rem !important;
    height: 4.5rem !important;
  }

  #csharp-img {
    width: 6rem !important;
    height: 6rem !important;
  }

  #sql-img {
    width: 5.5rem !important;
    height: 5.5rem !important;
  }

  #js-img {
    width: 5rem !important;
    height: 5rem !important;
  }

  .projects-desc-cont {
    width: 80vw;
    margin: 6rem 0 0 0;
    text-align: center;
  }

  .projects-desc-cont span:not([class]) {
    font-size: 2.2rem;
  }

  .projects-desc-cont p {
    font-size: 1.6rem;
  }

  .projects-tech {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 1rem;
  }

  .projects-tech img {
    width: 6rem;
  }

  .projects-tech-text {
    font-size: 2rem;
  }

  .projects-title {
    font-size: 3.5rem;
    margin-bottom: -2.5rem;
  }

  .tech {
    font-size: 2rem;
  }

  .responsive-project-chip {
    margin-left: 0 !important;
    margin-top: 2rem;
  }

  .swiper {
    width: 90vw !important;
    height: auto !important;
  }
  .swiper-slide img {
    width: 100% !important;
    height: auto !important;
    border-radius: 2rem;
  }

  .responsive-project-swiper-cont {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
  
  .tech-children-cont-spec {
    flex-direction: column;
  }
}
