.tech-div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-h1 {
  margin: 15rem 0 1rem 0;
  font-weight: 300;
  font-size: 6rem;
  color: #fff;
}

.tech-ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.tech-li-container {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1rem;
  margin: 0 0.1rem;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-li-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

#csharp-img {
  width: 9rem;
  height: 9rem;
}

#sql-img {
  width: 7.5rem;
  height: 7.5rem;
}

#js-img {
  width: 7rem;
  height: 7rem;
}

.tech-img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
